<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436970001789-lbmm00nk1tjk9jekgano4qedu35i0e09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436970001789-lbmm00nk1tjk9jekgano4qedu35i0e09</string>
	<key>API_KEY</key>
	<string>AIzaSyD8twtCoP8v6KJ0WFVROuWclkqnPaFQ0dU</string>
	<key>GCM_SENDER_ID</key>
	<string>436970001789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atlantis.CrabflixPremium</string>
	<key>PROJECT_ID</key>
	<string>crabflix-premium</string>
	<key>STORAGE_BUCKET</key>
	<string>crabflix-premium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436970001789:ios:e0dd07175502b9a1812814</string>
	<key>DATABASE_URL</key>
	<string>https://crabflix-premium.firebaseio.com</string>
</dict>
</plist>